<div class="padding-top-15">
    <div ng-if="vm.articles.length === 0">
        No results found
    </div>
    <div ng-if="vm.articles.length > 0">
        {{vm.articles.length}} results found:
    </div>
    <div ng-repeat="article in vm.articles">
        <div class="article-info row">
            <div class="col col-xs-8">
                <strong><a  target="_blank" href="{{article.url}}">{{article.abstract}}</a></strong>
            </div>
            <div class="col col-xs-4">
                <div ng-if="!article.media[0]">
                    No image available
                </div>
                <div ng-if="article.media[0]">
                    <img class="article-img" ng-src="{{article.media[0]['media-metadata'][2].url}}">
                </div>
            </div>
        </div>
    </div>
</div>