<div>
    <div class="padding-top-15">
        How much time do you have? <input type="text" class="width-50" value="{{vm.timeValue}}" readonly> minutes
    </div>
    <div class="padding-top-15">
        <input id="rangeSelector" type="range" ng-model="vm.timeValue" min="0" max="60" ng-change="vm.timeChanged()">
    </div>
    <div class="row">
        <div class="col col-xs-1">0</div>
        <div class="col col-xs-offset-10 col-1 align-right">60</div>
    </div>
    <div ng-if="vm.articles.length === 0">
        No results found
    </div>
    <div ng-if="vm.articles.length > 0">
        {{vm.articles.length}} results found:
    </div>
    <div ng-repeat="article in vm.articles" class="article-list">
        <div class="article-info row">
            <div class="col col-xs-8">
                <strong><a  target="_blank" href="{{article.web_url}}">{{article.headline.main}}</a></strong>
            </div>
            <div class="col col-xs-4">
                <div ng-if="!article.multimedia[0]">
                    No image available
                </div>
                <div ng-if="article.multimedia[0]">
                    <img class="article-img" ng-src="https://static01.nyt.com/{{article.multimedia[0].url}}">
                </div>
            </div>
        </div>
        <div> 
            
        </div>
    </div>
</div>