html, body {
  height: 100%;
  margin: 0;
}


.home {
  height: 100%;
  .heading {
    height: 20%;
    vertical-align: middle;
    font-size: 3em;
    padding: 10px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }

  .width-30 {
    font-size: 1.5em;
    width: 30%;
    float: left;
  }

  .width-70 {
    font-size: 1.5em;
    width: 70%;
  }
}