$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin font-wt($weight) {
  font-weight: $weight;
}

@mixin font-sz($size) {
  font-size: $size;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}



.heading-top {
  height: 10%;
  vertical-align: middle;
  font-size: 3em;
  padding: 10px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  .Button {
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.3);
    font-size: 16px;
    font-weight: 200;
    padding: 10px 35px;
    background: transparent;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
  }
  .sign {
    margin-right: 10px;
  }
  .navbar-brand{
    color: #fff;
  }
}



.home {
  height: 100%;
  @include font-sz(1em);
  padding: 0px 10px;
  @include font-wt(100);
  .reading-text {
    vertical-align: middle;
    padding: 10px;
    background-color: lightblue;
  }
  .article-section{
    border-right: double;
    height: 100%;
    @include font-sz(1em);
    .row{
      font-style: normal;
      padding:10px 0px;
      .col{
        @include font-sz(0.8em);
      }
    }
  }

  .tags-container {
    padding: 15px;
    .tags-inline {
      display: inline-block;
    }
  }

  .tag-style {
    @include font-sz(1.5rem);
    padding: 2px 5px;
    word-break: break-all;
    border: solid 1px;
    border-color: cadetblue;
    margin-right: 5px;
  }

  .padding-10 {
    padding: 10px;
  }

  .padding-top-15 {
    padding-top: 15px;
  }

  .dropdown-option {
    background: none;
    border: none;
    padding: 0 0 0 2px;
    width: 100%;
    text-align: left;
    color: black;
  }

  .disabled {
    color: grey;
  }

  .align-right {
    text-align: right;
  }

  .width-50 {
    width: 50px;
  }

  .article-info {
    background-color: lightgrey;
    border: solid 1px;
    margin: 5px;
    padding: 3px;
  }

  .break-word {
    word-wrap: break-word;
  }

  .article-img {
    margin: 5px 0;
    border: solid 1px;
    width: 100%;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .tab {
    border: solid 1px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
      font-weight:bold;
      transform: scale(1.1);
    }
  }

  .tab-active {
    background-color: lightgrey;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}

@media (min-width: 992px){
  .col-md-4.article-section {
    border-right: double;
  }
}