<div class="navbar navbar-static-top">
    <div class="container-fluid heading-top">
        <a class="navbar-brand" href="#">Reading Ninja</a>
        <button class="btn pull-right Button" type="button" ng-click="vm.navigate()"> Sign Up</button>
        <button  uib-popover-template="vm.templateUrl" popover-title="Login" type="button" class="btn pull-right sign Button"
                popover-placement="bottom" popover-trigger="outsideClick">
            Log in
        </button>
    </div>
</div>
<div class="home">
    <div class="reading-text drop-shadow">
        At Reading Ninja, we value your time and help you choose articles based on the time you have
    </div>
    <div>
        <div class="padding-10">
            <div class="row">
                <div class="col col-xs-4 article-section">
                    <div ng-if="vm.isLogged">
                        Articles seen by you recently...
                    </div>
                    Article of the day
                    <div class="row">
                        <div class="col col-xs-12">
                            <img class="article-img" ng-src="{{vm.articleOfTheDay.img}}">
                            <span>{{vm.articleOfTheDay.abstract}}></span>
                            Read full artice at:
                            <a class="break-word" target="_blank" href="{{vm.articleOfTheDay.url}}">{{vm.articleOfTheDay.url}}</a>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-8">
                    <div ng-include="'app/features/home/partials/category-selector.html'"></div>
                    <div ng-if="vm.selectedCategories.length">
                        <div class="row margin-top-20">
                            <div class="col col-xs-offset-1 col-xs-4 tab" ng-class="{'tab-active' : vm.isReadingTabActive}" ng-click="vm.tabChanged(true)">
                                Based on Reading Time
                            </div>
                            <div class="col col-xs-offset-1 col-xs-4 tab" ng-class="{'tab-active' : !vm.isReadingTabActive}" ng-click="vm.tabChanged(false)">
                                Most popular
                            </div>
                        </div>
                        <div ng-if="vm.isReadingTabActive">
                            <div ng-include="'app/features/home/partials/reading-time-articles.html'"></div>
                        </div>
                        <div ng-if="!vm.isReadingTabActive">
                            <div ng-include="'app/features/home/partials/most-popular-articles.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>